# Ch2-exercises-id.ipynb By PA04
## Q1.
    홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자
- 과목 점수
- 국어 : 80
- 영어 : 75
- 수학 : 55

In [5]:
total = 0
Korean = int(input())
English = int(input())
Math = int(input())

total = Korean + English + Math
print(total/3)

70.0

## Q2.
    자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
- 판별 기준 -> 2로 나눴을 때 0이 되는지
- 코드

In [8]:
n = 13
if(n % 2 == 0):
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

## Q3.
    홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일        (YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
- 문자열 슬라이싱 기법을 사용해 보자.

In [12]:
a = "881120-1068234"
b = a[:6]
c = a[7:]
print(b , c)

881120 1068234

## Q4.
    주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
    - pin = "881120-1068234"
    - ※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
    - 문자열포맷팅을 이용해서 성별을 출력하시오.

In [42]:
a = "881120-1068234"
b = a[7]
gender = ''
if(b == '1'):
    gender = "남자"
elif(b == '2'):
    gender = "여자"
else:
    gender = "성별을 알 수 없음"
print("맨 첫 번째 숫자는 {}입니다. 그렇기에 성별을 {}입니다.".format(b,gender))

맨 첫 번째 숫자는 1입니다. 그렇기에 성별을 남자입니다.

## Q5.
    다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d#로 바꿔서 출력해 보자
- a = "a:b:c:d"

In [47]:
a = "a:b:c:d"
print(a.replace(":", "#"))

a#b#c#d

## Q6.
    [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
- ※리스트의 내장 함수를 사용해 보자

In [57]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

## Q7.
    ['Life','is','too','short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
- ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [63]:
a = ['Life', 'is', 'too', 'short']
print(" ".join(a))

Life is too short

## Q8.
    (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
- ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [64]:
t1 = (1,2,3)
t2 = (4,)
print(t1 + t2)

(1, 2, 3, 4)

## Q9.
    다음과 같은 딕셔너리 a가 있다.
        a = dict()
        a
        {}
- 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
1. a['name']= 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python

In [19]:
a = dict()
print(a)
a['name'] = 'python'
a[('a',)] = 'python'
# a[[1]] = 'python' - [1] 리스트는 추가 X
a[250] = 'python'
print(a)

{}
{'name': 'python', ('a',): 'python', 250: 'python'}

## Q10.
    딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
        a = {'A':90, 'B':80, 'C':70}
- ※ 딕셔너리의 pop 함수를 사용해 보자.

In [20]:
a = {'A':90, 'B':80, 'C':70}
b = a.pop('B')
print(b)

80

## Q11. 
    a 리스트에서 중복 숫자를 제거해 보자.
        a = [1,1,1,2,2,3,3,3,4,4,5]
- ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [22]:
a = [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4 ,5]
a_set = set(a)
a = list(a_set)
print(a)

[1, 2, 3, 4, 5]

## Q12.
    파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a,b 변수를 선언한 후 a의 두번 째 요솟값을 변경하면 b값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.
    a = b = [1, 2, 3]
    a[1] = 4
    print(b)

In [25]:
a = b = [1, 2, 3]
a[1] = 4
print(a)
print(b)
# 앞에서 b의 변수를 생성할 때 a의 변수의 값을 가져오도록 되어있기 때문에 a의 두번 쨰 요솟값을 변경 하여도 b는 a와 똑같이 출력되는것이다.

[1, 4, 3]
[1, 4, 3]